.preview{
    display: none;
    height:250px;
    width:49%;
}
.svg_color{
	padding: 5px;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
}
#upload_button{
	margin: inherit;
}
